.form {
  border: 1px solid black;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.form input {
  width: 50%;
  align-self: center;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  border: 1px solid;
}

.form label,
p {
  align-self: center;
  font-size: large;
}

.form input.invalid {
  border: 1px solid red;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}
