html body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

:root {
  --navbar-color: #0E1C36;
  --button-color: #4fc0ed;
  --chart-background: #afcbff;
  --chart-bar-inner: #75b8ff;
  --chart-bar-fill: #0980ff;
}
